.category-section {
  background: #f9f7f4;
  padding-top: 53px;
  padding-bottom: 21px;

  &__content {
    h1 {
      font-family: sans-serif;
      font-size: 41px;
      font-weight: 400;
      line-height: 51px;
      letter-spacing: 0.05em;
      color: #313131;
      margin-bottom: 19px;
    }

    .category__discount {
      width: 160px;
      margin-bottom: 24px;
    }

    .category__cards {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      .category__card {
        box-shadow: 0px 24px 44px 0px #0000000d;
        border-radius: 5px;
        padding: 18px 20px 41px 20px;
        width: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .category__card-img {
          margin-bottom: 16px;
          background: white;
          border-radius: 5px;
          width: 227px;
          height: 277px;
          display: flex;
          justify-content: end;
          align-items: end;
        }

        .category__img-title {
          text-align: center;
          font-family: sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0.05em;
          max-width: 163px;
          margin-bottom: 14px;
        }

        .category__card-oldPrice {
          display: flex;
          align-items: center;
          gap: 12px;
          margin-bottom: 15px;

          p {
            font-family: sans-serif;
            font-size: 13px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.05em;
            display: flex;
            align-items: center;
            gap: 1px;
            color: #afafaf;

            svg {
              padding-top: 2px;
              font-size: 14px;
            }
          }

          h4 {
            border: 1px solid #afafaf;
            padding: 1px 5px;
            font-family: sans-serif;
            font-size: 10px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: #313131;
          }
        }

        h3 {
          font-family: sans-serif;
          font-size: 20px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.05em;
          color: #313131;
          display: flex;
          margin-bottom: 30px;

          svg {
            flex-wrap: 400;
            font-size: 22px;
            padding-top: 2px;
          }
        }

        .category__card-cart {
          display: flex;
          gap: 37px;

          .category__card-cart__qty {
            border: 0.5px solid #afafaf;
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;
            padding: 100px 0;
            padding-top: 0;
            background: #f9f7f4;
            gap: 30px;
            position: relative;

            .swiper-pagination {
                position: absolute;
                align-items: center !important;
                bottom: 10px;
                height: 40px;

                .swiper-pagination-bullet {
                    width: 13px;
                    height: 13px;
                }

                .swiper-pagination-bullet-active {
                    margin-bottom: -2px;
                    width: 18px;
                    height: 18px;
                    background: #907555;
                }
            }
            height: 38px;
            align-items: center;
            justify-content: center;
            width: 106px;
            gap: 8px;
            padding: 5px 0 6px 0;

            button {
              cursor: pointer;
              font-family: sans-serif;
              font-size: 20px;
              font-weight: 400;
              line-height: 31px;
              letter-spacing: 0.05em;
              color: #313131;

              svg {
                font-size: 12px;
                padding-bottom: 3px;
              }
            }

            p {
              color: #c4c4c4;
            }

            span {
              font-family: sans-serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 31px;
              letter-spacing: 0.05em;
            }
          }

          .category__card-cart__content {
            background: linear-gradient(
              90.9deg,
              #896d4d 0.77%,
              #cdb79c 100.82%
            );
            padding: 8px 24px;
            border-radius: 5px;
            box-shadow: 0px 14px 34px 0px #00000040;
            cursor: pointer;
            height: 38px;
            transition: 0.2s !important;

            svg {
              font-size: 20px;
              color: white;
              padding-top: 2px;
            }

            &:active {
              scale: 0.97;
            }
          }
        }

    }
}

@media (max-width: 725px) {
    .category-section {
        &__content {
            .category__filters {
                .category__filters-top {

                    h2 {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 18px;
                        padding-bottom: 12px;
                        width: 100%;
                        border-bottom: 1px solid #CCC7C11A;
                    }

                }
            }
        }
    }
}

@media (max-width: 440px) {

    .category-section {
        &__content {
            h1 {
                font-size: 32px;
                font-weight: 400;
                line-height: 51px;
                letter-spacing: 0.05em;

            }

            .category__filters {
                .category__filters-top {
                    .category__filters-top-filter {
                        gap: 15px;
                    }
                }

                .category__filters-body {
                    .category__filters-body__filter {
                        h4 {
                            font-size: 18px;
                        }
                    }
                }
            }

        }
      }
    }
  }
}
