.hero-section {
  text-align: center;
  padding: 30px 0 0;

  .hero-section__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    .hero__text {
      text-align: left;
      h4 {
        font-family: Vanta, sans-serif;
        font-size: 25px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #7d3e00;
      }
      button {
        font-family: Park Avenue;
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #fff;
        background: linear-gradient(273.52deg, #896d4d -42.26%, #cdb79c 99.15%);
        border: none;
        border-radius: 5px;
        padding: 14px 80px;
        margin-top: 21px;
        transition: 0.2s;
        cursor: pointer;
        &:active {
          transform: scale(0.95);
        }
      }
    }

    .hero__img {
      max-width: 660px;
      max-height: 490px;

      img {
        width: 100%;
      }
    }
  }
  .ads {
    max-width: 1500px;
    margin: -70px auto 0;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 980px) {
  .hero-section {
    // text-align: center;
    .hero-section__content {
      //   display: flex;
      //   align-items: center;
      //   justify-content: space-between;
      //   column-gap: 20px;
      .hero__text {
        h4 {
          //   font-family: Vanta;
          //   font-size: 25px;
          //   font-weight: 400;
          //   line-height: 38px;
          //   letter-spacing: 0.05em;
          //   text-align: left;
          //   color: #7d3e00;
        }
      }
      .hero__img {
        max-width: 412px;
        max-height: 306px;

        img {
          //   width: 100%;
        }
      }
    }
    .ads {
      max-width: 1500px;
      margin: -45px auto 0;

      img {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 730px) {
  .hero-section {
    // text-align: center;
    .hero-section__content {
      //   display: flex;
      //   align-items: center;
      //   justify-content: space-between;
      //   column-gap: 20px;
      flex-direction: column;
      align-items: flex-start;
      .hero__text {
        h4 {
          font-size: 20px;
          font-weight: 400;
          line-height: 35px;
          letter-spacing: 0.05em;
        }
      }
      .hero__img {
        max-width: 412px;
        max-height: 306px;
        margin: 0 auto;
        img {
          //   width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 560px) {
  .hero-section {
    .hero-section__content {
      .hero__text {
        button {
          width: 280px;
          text-align: center;
        }
      }
    }
    .ads {
      max-width: 1500px;
      margin: -20px auto 0;

      img {
        width: 100%;
      }
    }
  }
}
