header {
    padding: 8px 0;
    background: #C8B196;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header__content-category {
            padding: 3px 3px;
            background: #F0EBE7;
            border-radius: 3px;
            cursor: pointer;

            button {
                cursor: pointer;
                border-radius: 3px;
                border: 1px solid #FFFFFF;
                background: transparent;
                padding: 10px 14px;
                display: flex;
                align-items: center;
                gap: 10px;
                font-family: Vanta;
                font-size: 15px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0.05em;

                svg {
                    font-size: 17px;
                }

            }

        }


        h3 {
            font-family: Park Avenue;
            font-weight: 400;
            line-height: 19px;
            color: #714615;

        }

        .header__content-contact {
            display: flex;
            flex-direction: column;
            align-items: end;

            p {
                font-family: Vanta;
                font-size: 15px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0.01em;
                color: white;
            }

            a {
                font-family: Vanta;
                font-size: 11px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 0.01em;
                text-decoration: underline;
            }
        }

    }
}

@media (max-width: 1446px) {
    header {
        .main-header {
            &__content {
                .main-header__nav {
                    .menu-btn {
                        display: block;
                    }
                }
            }
        }

        .sub-header {
            padding: 14px 0;

            &__content {
                .sub-header__nav--list {
                    z-index: 10;
                    padding-bottom: 24px;
                    position: absolute;
                    top: 146px;
                    left: 0;
                    width: 100%;
                    background: white;
                    box-shadow: 0 3px 5px #0002;
                    flex-direction: column;
                    gap: 20px !important;
                    justify-content: center;
                    align-items: center;
                    transition: .3s ease;
                    transform-origin: top;
                    transform: scaleY(0);

                    div {
                        margin-bottom: -30px;
                        margin-right: 16px;
                    }
                }

                .sub-header__nav--list.show {
                    transform: scaleY(1);
                }
            }
        }

    }

}